USE [SessiaCarService]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 05.07.2025 10:40:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cars]    Script Date: 05.07.2025 10:40:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cars](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OwnerId] [int] NOT NULL,
	[Brand] [nvarchar](max) NOT NULL,
	[Model] [nvarchar](max) NOT NULL,
	[LicensePlate] [nvarchar](max) NOT NULL,
	[Year] [int] NULL,
	[UserId] [int] NULL,
 CONSTRAINT [PK_Cars] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChatMessages]    Script Date: 05.07.2025 10:40:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChatMessages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RepairRequestId] [int] NOT NULL,
	[SenderId] [int] NOT NULL,
	[MessageText] [nvarchar](max) NOT NULL,
	[SentAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_ChatMessages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Parts]    Script Date: 05.07.2025 10:40:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Parts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Quantity] [int] NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_Parts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 05.07.2025 10:40:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RepairRequestId] [int] NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[PaidAt] [datetime2](7) NULL,
	[Status] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Payments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RepairParts]    Script Date: 05.07.2025 10:40:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RepairParts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RepairRequestId] [int] NOT NULL,
	[PartId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK_RepairParts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RepairReports]    Script Date: 05.07.2025 10:40:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RepairReports](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RepairRequestId] [int] NOT NULL,
	[MasterId] [int] NOT NULL,
	[ReportText] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_RepairReports] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RepairRequests]    Script Date: 05.07.2025 10:40:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RepairRequests](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CarId] [int] NOT NULL,
	[ClientId] [int] NOT NULL,
	[ManagerId] [int] NULL,
	[MasterId] [int] NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[DesiredDate] [datetime2](7) NULL,
 CONSTRAINT [PK_RepairRequests] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RepairRequestStatusHistories]    Script Date: 05.07.2025 10:40:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RepairRequestStatusHistories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RepairRequestId] [int] NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
	[ChangedAt] [datetime2](7) NOT NULL,
	[ChangedById] [int] NULL,
	[Comment] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_RepairRequestStatusHistories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reviews]    Script Date: 05.07.2025 10:40:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reviews](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RepairRequestId] [int] NOT NULL,
	[ClientId] [int] NOT NULL,
	[MasterId] [int] NOT NULL,
	[Rating] [int] NOT NULL,
	[Comment] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Reviews] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 05.07.2025 10:40:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 05.07.2025 10:40:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](max) NOT NULL,
	[PasswordHash] [nvarchar](max) NOT NULL,
	[RoleId] [int] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250704110249_fixed', N'9.0.6')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250704152823_fifth', N'9.0.6')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250704234315_ten', N'9.0.6')
GO
SET IDENTITY_INSERT [dbo].[Cars] ON 

INSERT [dbo].[Cars] ([Id], [OwnerId], [Brand], [Model], [LicensePlate], [Year], [UserId]) VALUES (1, 5, N'Toyota', N'Camry', N'A123BC77', 2018, NULL)
INSERT [dbo].[Cars] ([Id], [OwnerId], [Brand], [Model], [LicensePlate], [Year], [UserId]) VALUES (2, 5, N'123', N'егор', N'егор', 2019, NULL)
SET IDENTITY_INSERT [dbo].[Cars] OFF
GO
SET IDENTITY_INSERT [dbo].[ChatMessages] ON 

INSERT [dbo].[ChatMessages] ([Id], [RepairRequestId], [SenderId], [MessageText], [SentAt]) VALUES (1, 1, 3, N'Когда будет готово?', CAST(N'2025-07-04T14:03:22.2300000' AS DateTime2))
INSERT [dbo].[ChatMessages] ([Id], [RepairRequestId], [SenderId], [MessageText], [SentAt]) VALUES (2, 1, 1, N'Ожидаем запчасти, ориентировочно завтра.', CAST(N'2025-07-04T14:03:22.2300000' AS DateTime2))
INSERT [dbo].[ChatMessages] ([Id], [RepairRequestId], [SenderId], [MessageText], [SentAt]) VALUES (3, 8, 5, N'привет', CAST(N'2025-07-04T19:11:42.6180072' AS DateTime2))
SET IDENTITY_INSERT [dbo].[ChatMessages] OFF
GO
SET IDENTITY_INSERT [dbo].[Parts] ON 

INSERT [dbo].[Parts] ([Id], [Name], [Quantity], [Price]) VALUES (1, N'Фильтр салона', 10, CAST(1200.00 AS Decimal(18, 2)))
INSERT [dbo].[Parts] ([Id], [Name], [Quantity], [Price]) VALUES (2, N'Компрессор кондиционера', 2, CAST(15000.00 AS Decimal(18, 2)))
INSERT [dbo].[Parts] ([Id], [Name], [Quantity], [Price]) VALUES (3, N'Нош', 100, CAST(100.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Parts] OFF
GO
SET IDENTITY_INSERT [dbo].[Payments] ON 

INSERT [dbo].[Payments] ([Id], [RepairRequestId], [Amount], [PaidAt], [Status]) VALUES (4, 9, CAST(24300.00 AS Decimal(18, 2)), CAST(N'2025-07-05T01:07:19.3725490' AS DateTime2), N'Оплачено')
SET IDENTITY_INSERT [dbo].[Payments] OFF
GO
SET IDENTITY_INSERT [dbo].[RepairParts] ON 

INSERT [dbo].[RepairParts] ([Id], [RepairRequestId], [PartId], [Quantity]) VALUES (2, 1, 2, 1)
INSERT [dbo].[RepairParts] ([Id], [RepairRequestId], [PartId], [Quantity]) VALUES (3, 9, 1, 1)
INSERT [dbo].[RepairParts] ([Id], [RepairRequestId], [PartId], [Quantity]) VALUES (4, 9, 2, 1)
SET IDENTITY_INSERT [dbo].[RepairParts] OFF
GO
SET IDENTITY_INSERT [dbo].[RepairReports] ON 

INSERT [dbo].[RepairReports] ([Id], [RepairRequestId], [MasterId], [ReportText], [CreatedAt]) VALUES (1, 1, 2, N'Заменен компрессор кондиционера и фильтр салона.', CAST(N'2025-07-04T14:03:22.2133333' AS DateTime2))
INSERT [dbo].[RepairReports] ([Id], [RepairRequestId], [MasterId], [ReportText], [CreatedAt]) VALUES (2, 9, 9, N'все круто', CAST(N'2025-07-05T01:48:41.4488062' AS DateTime2))
SET IDENTITY_INSERT [dbo].[RepairReports] OFF
GO
SET IDENTITY_INSERT [dbo].[RepairRequests] ON 

INSERT [dbo].[RepairRequests] ([Id], [CarId], [ClientId], [ManagerId], [MasterId], [Description], [Status], [CreatedAt], [UpdatedAt], [DesiredDate]) VALUES (1, 2, 3, NULL, 9, N'лол', N'Ожидает клиента', CAST(N'2025-07-04T14:03:22.2133333' AS DateTime2), CAST(N'2025-07-05T00:50:03.9627460' AS DateTime2), CAST(N'2025-07-04T22:52:03.7790767' AS DateTime2))
INSERT [dbo].[RepairRequests] ([Id], [CarId], [ClientId], [ManagerId], [MasterId], [Description], [Status], [CreatedAt], [UpdatedAt], [DesiredDate]) VALUES (8, 1, 5, NULL, 9, N'Все плохо', N'Выполнено', CAST(N'2025-07-04T18:03:23.8675977' AS DateTime2), NULL, CAST(N'2027-01-25T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[RepairRequests] ([Id], [CarId], [ClientId], [ManagerId], [MasterId], [Description], [Status], [CreatedAt], [UpdatedAt], [DesiredDate]) VALUES (9, 1, 5, 6, 9, N'фыв', N'Выполнено', CAST(N'2025-07-04T18:03:53.4489213' AS DateTime2), CAST(N'2025-07-05T01:49:32.2894707' AS DateTime2), CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[RepairRequests] OFF
GO
SET IDENTITY_INSERT [dbo].[RepairRequestStatusHistories] ON 

INSERT [dbo].[RepairRequestStatusHistories] ([Id], [RepairRequestId], [Status], [ChangedAt], [ChangedById], [Comment]) VALUES (2, 1, N'В работе', CAST(N'2025-07-05T00:49:51.6299441' AS DateTime2), 9, N'Изменение статуса')
INSERT [dbo].[RepairRequestStatusHistories] ([Id], [RepairRequestId], [Status], [ChangedAt], [ChangedById], [Comment]) VALUES (3, 1, N'Ожидает клиента', CAST(N'2025-07-05T00:50:03.9648527' AS DateTime2), 9, N'Изменение статуса')
INSERT [dbo].[RepairRequestStatusHistories] ([Id], [RepairRequestId], [Status], [ChangedAt], [ChangedById], [Comment]) VALUES (4, 9, N'Выполнено', CAST(N'2025-07-05T01:48:37.0725643' AS DateTime2), 9, N'Изменение статуса')
SET IDENTITY_INSERT [dbo].[RepairRequestStatusHistories] OFF
GO
SET IDENTITY_INSERT [dbo].[Reviews] ON 

INSERT [dbo].[Reviews] ([Id], [RepairRequestId], [ClientId], [MasterId], [Rating], [Comment], [CreatedAt]) VALUES (1, 9, 5, 9, 5, N'ИМБА!!!', CAST(N'2025-07-05T02:50:06.2618718' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Reviews] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([Id], [Name]) VALUES (1, N'Мастер')
INSERT [dbo].[Roles] ([Id], [Name]) VALUES (2, N'Менеджер')
INSERT [dbo].[Roles] ([Id], [Name]) VALUES (3, N'Клиент')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [UserName], [PasswordHash], [RoleId]) VALUES (1, N'manager1', N'hash1', 1)
INSERT [dbo].[Users] ([Id], [UserName], [PasswordHash], [RoleId]) VALUES (2, N'master1', N'hash2', 2)
INSERT [dbo].[Users] ([Id], [UserName], [PasswordHash], [RoleId]) VALUES (3, N'client1', N'hash3', 3)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Cars]  WITH CHECK ADD  CONSTRAINT [FK_Cars_Users_OwnerId] FOREIGN KEY([OwnerId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Cars] CHECK CONSTRAINT [FK_Cars_Users_OwnerId]
GO
ALTER TABLE [dbo].[Cars]  WITH CHECK ADD  CONSTRAINT [FK_Cars_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Cars] CHECK CONSTRAINT [FK_Cars_Users_UserId]
GO
ALTER TABLE [dbo].[ChatMessages]  WITH CHECK ADD  CONSTRAINT [FK_ChatMessages_RepairRequests_RepairRequestId] FOREIGN KEY([RepairRequestId])
REFERENCES [dbo].[RepairRequests] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChatMessages] CHECK CONSTRAINT [FK_ChatMessages_RepairRequests_RepairRequestId]
GO
ALTER TABLE [dbo].[ChatMessages]  WITH CHECK ADD  CONSTRAINT [FK_ChatMessages_Users_SenderId] FOREIGN KEY([SenderId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[ChatMessages] CHECK CONSTRAINT [FK_ChatMessages_Users_SenderId]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_RepairRequests_RepairRequestId] FOREIGN KEY([RepairRequestId])
REFERENCES [dbo].[RepairRequests] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_RepairRequests_RepairRequestId]
GO
ALTER TABLE [dbo].[RepairParts]  WITH CHECK ADD  CONSTRAINT [FK_RepairParts_Parts_PartId] FOREIGN KEY([PartId])
REFERENCES [dbo].[Parts] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RepairParts] CHECK CONSTRAINT [FK_RepairParts_Parts_PartId]
GO
ALTER TABLE [dbo].[RepairParts]  WITH CHECK ADD  CONSTRAINT [FK_RepairParts_RepairRequests_RepairRequestId] FOREIGN KEY([RepairRequestId])
REFERENCES [dbo].[RepairRequests] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RepairParts] CHECK CONSTRAINT [FK_RepairParts_RepairRequests_RepairRequestId]
GO
ALTER TABLE [dbo].[RepairReports]  WITH CHECK ADD  CONSTRAINT [FK_RepairReports_RepairRequests_RepairRequestId] FOREIGN KEY([RepairRequestId])
REFERENCES [dbo].[RepairRequests] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RepairReports] CHECK CONSTRAINT [FK_RepairReports_RepairRequests_RepairRequestId]
GO
ALTER TABLE [dbo].[RepairReports]  WITH CHECK ADD  CONSTRAINT [FK_RepairReports_Users_MasterId] FOREIGN KEY([MasterId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[RepairReports] CHECK CONSTRAINT [FK_RepairReports_Users_MasterId]
GO
ALTER TABLE [dbo].[RepairRequests]  WITH CHECK ADD  CONSTRAINT [FK_RepairRequests_Cars_CarId] FOREIGN KEY([CarId])
REFERENCES [dbo].[Cars] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RepairRequests] CHECK CONSTRAINT [FK_RepairRequests_Cars_CarId]
GO
ALTER TABLE [dbo].[RepairRequests]  WITH CHECK ADD  CONSTRAINT [FK_RepairRequests_Users_ClientId] FOREIGN KEY([ClientId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[RepairRequests] CHECK CONSTRAINT [FK_RepairRequests_Users_ClientId]
GO
ALTER TABLE [dbo].[RepairRequests]  WITH CHECK ADD  CONSTRAINT [FK_RepairRequests_Users_ManagerId] FOREIGN KEY([ManagerId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[RepairRequests] CHECK CONSTRAINT [FK_RepairRequests_Users_ManagerId]
GO
ALTER TABLE [dbo].[RepairRequests]  WITH CHECK ADD  CONSTRAINT [FK_RepairRequests_Users_MasterId] FOREIGN KEY([MasterId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[RepairRequests] CHECK CONSTRAINT [FK_RepairRequests_Users_MasterId]
GO
ALTER TABLE [dbo].[RepairRequestStatusHistories]  WITH CHECK ADD  CONSTRAINT [FK_RepairRequestStatusHistories_RepairRequests_RepairRequestId] FOREIGN KEY([RepairRequestId])
REFERENCES [dbo].[RepairRequests] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RepairRequestStatusHistories] CHECK CONSTRAINT [FK_RepairRequestStatusHistories_RepairRequests_RepairRequestId]
GO
ALTER TABLE [dbo].[RepairRequestStatusHistories]  WITH CHECK ADD  CONSTRAINT [FK_RepairRequestStatusHistories_Users_ChangedById] FOREIGN KEY([ChangedById])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[RepairRequestStatusHistories] CHECK CONSTRAINT [FK_RepairRequestStatusHistories_Users_ChangedById]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles_RoleId]
GO
